<html>
    <head>
        <title>tools</title>
        <style>
            {{ load_data(path='static/main.css') | safe }}
        </style>
        {% if section.extra is containing("preloads") %}
            {% for preload in section.extra.preloads %}
                <link rel="preload" href="{{ preload }}">
            {% endfor %}
        {% endif %}

        {% if section.extra is containing("stylesheets") %}
            {% for stylesheet in section.extra.stylesheets %}
                <link rel="stylesheet" href="{{ stylesheet }}">
            {% endfor %}
        {% endif %}
    </head>
    <body>
        <div class='main'>
            <div class='nav'>
                <h1><a href='/'>blek.codes</a></h1>
            </div>
            {{ section.content | safe }}

            <small class="footer">designed in farun | assembled in china | <a href='/contact'>contact</a></small>
        </div>

        {% if section.extra is containing("scripts") %}
            {% for script in section.extra.scripts %}
                <script src="{{ script }}"></script>
            {% endfor %}
        {% endif %}
    </body>
</html>