name: Deployment
on:
  push:
    branches:
      - main
    paths:
      - "src/**.md"
      - "static/**"
      - "templates/**"
      - "sass/**"
      - "config.toml"
      - ".github/workflows/deploy.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install zola
        uses: taiki-e/install-action@v2
        with:
          tool: zola@0.19.1
      - name: Build
        run: |-
          zola build
      - name: Archive
        uses: actions/upload-artifact@v4
        with:
          name: public
          path: public
  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      actions: write
      checks: write
      contents: write
    steps:
      - name: Checkout deploy branch
        uses: actions/checkout@v4
        with:
          ref: 'deploy'

      - name: Download dist
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist

      - name: Copy book to deploy
        run: |
          git config --global user.name 'Github Actions'
          git config --global user.email 'actions@github.com'
          git add .
          git commit -m "Deployment"
          git push